[submodule "Sierra/vendor/glm"]
	path = Sierra/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "Sierra/vendor/VMA"]
	path = Sierra/vendor/VMA
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator
[submodule "Sierra/vendor/spdlog"]
	path = Sierra/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Sierra/vendor/metal-cpp"]
	path = Sierra/vendor/metal-cpp
	url = https://github.com/bkaradzic/metal-cpp