[submodule "Sierra/vendor/glm"]
	path = Sierra/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "Sierra/vendor/VMA"]
	path = Sierra/vendor/VMA
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator
[submodule "Sierra/vendor/spdlog"]
	path = Sierra/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Sierra/vendor/ImGui"]
	path = Sierra/vendor/ImGui
	url = https://github.com/ocornut/imgui
	branch = docking
[submodule "SierraEngine/vendor/entt"]
	path = SierraEngine/vendor/entt
	url = https://github.com/skypjack/entt
[submodule "Sierra/vendor/fmt"]
	path = Sierra/vendor/fmt
	url = https://github.com/fmtlib/fmt
[submodule "Sierra/vendor/ios-cmake"]
	path = Sierra/vendor/ios-cmake
	url = https://github.com/leetal/ios-cmake
[submodule "SierraEngineEditor/vendor/basis_universal"]
	path = SierraEngineEditor/vendor/basis_universal
	url = https://github.com/BinomialLLC/basis_universal
[submodule "SierraEngineEditor/vendor/stb"]
	path = SierraEngineEditor/vendor/stb
	url = https://github.com/nothings/stb
[submodule "SierraEngineEditor/vendor/rapidyaml"]
	path = SierraEngineEditor/vendor/rapidyaml
	url = https://github.com/biojppm/rapidyaml
[submodule "Sierra/vendor/android-game-sdk"]
	path = Sierra/vendor/android-game-sdk
	url = https://android.googlesource.com/platform/frameworks/opt/gamesdk
