[submodule "Sierra/vendor/glm"]
	path = Sierra/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "Sierra/vendor/VMA"]
	path = Sierra/vendor/VMA
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator
[submodule "Sierra/vendor/Volk"]
	path = Sierra/vendor/Volk
	url = https://github.com/zeux/volk
[submodule "Sierra/vendor/spdlog"]
	path = Sierra/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Sierra/vendor/BetterEnums"]
	path = Sierra/vendor/BetterEnums
	url = https://github.com/aantron/better-enums
