<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:icon="@mipmap/ic_launcher"
        android:label="SierraEngine">
        <activity
            android:name="MainActivity"
            android:exported="true"
            android:launchMode="singleTask"
                android:theme="@style/Theme.AppCompat.Light"
            android:configChanges="orientation|screenSize|keyboardHidden">
            <intent-filter>
                  <action android:name="android.intent.action.MAIN"/>
                  <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest>